@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    font-size: 1.2em;
    font-family: 'Sriracha', cursive;
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #cb9b51;
    text-decoration: underline;
}

body {
    background-image: url(./img/dictionary-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    color: #291a09;
}

header {
    margin: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(132, 129, 129);
    font-family: 'Berkshire Swash', cursive;
}

h1 {
    padding-top: 2%;
    font-size: 64px;
    color: #cb9b51;
    letter-spacing: 5px;
    text-shadow: 2px 3px 5px rgb(34, 31, 31);
}

footer {
    color: #ced4da;
    padding: 5% 3%;
}

.App {
    max-width: 1024px;
}